<!DOCTYPE html>
<html>

<head>
  <title>Image Gallery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin-bottom: 20px;
      padding-top: 50px;
    }

    .image-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 10px;
      justify-items: center;
      align-items: center;
    }

    .image-container img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <%- include('header') %>
  <h1>Image Gallery</h1>

  <div class="image-container">
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 1">
      <img src="images/two.jpg" alt="Image 1">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 2">
      <img src="images/two.jpg" alt="Image 2">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 3">
      <img src="images/two.jpg" alt="Image 3">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 1">
      <img src="images/two.jpg" alt="Image 1">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 2">
      <img src="images/two.jpg" alt="Image 2">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 3">
      <img src="images/two.jpg" alt="Image 3">
    </a><a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 1">
      <img src="images/two.jpg" alt="Image 1">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 2">
      <img src="images/two.jpg" alt="Image 2">
    </a>
    <a href="images/two.jpg" data-lightbox="image-gallery" data-title="Image 3">
      <img src="images/two.jpg" alt="Image 3">
    </a>
    <!-- Add more images here -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</body>
<%- include('footer') %>
</html>
