<!DOCTYPE html>
<html>

<head>
  <title>Image Gallery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin-bottom: 20px;
    }

    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
    }

    .image-container img {
      width: 300px;
      height: auto;
      margin: 10px;
      border: 3px solid #f2f2f2;
      border-radius: 5px;
      transition: transform 0.3s;
      cursor: pointer;
    }

    .image-container img:hover {
      transform: scale(1.05);
    }

    .image-container img.active {
      width: auto;
      max-width: 90%;
      height: auto;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      cursor: zoom-out;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const images = document.querySelectorAll('.image-container img');

      function toggleImageSize() {
        this.classList.toggle('active');
      }

      images.forEach(function (image) {
        image.addEventListener('click', toggleImageSize);
      });
    });
  </script>
</head>

<body>
  <h1>Image Gallery</h1>

  <div class="image-container">
    <img src="images/two.jpg" alt="Image 1">
    <img src="images/two.jpg" alt="Image 2">
    <img src="images/two.jpg" alt="Image 3">
    <img src="images/two.jpg" alt="Image 1">
    <img src="images/two.jpg" alt="Image 2">
    <img src="images/two.jpg" alt="Image 3"> 
    <img src="images/two.jpg" alt="Image 1">
    <img src="images/two.jpg" alt="Image 2">
    <img src="images/two.jpg" alt="Image 3">
    <!-- Add more images here -->
  </div>
</body>

</html>
