<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* HTML and Body */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    /* Container for the pictures */
    .picture-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin: -5px; /* Negative margin to remove gaps between pictures */
      margin-top: 60px;
    }
    
    /* Individual picture */
    .picture {
      flex: 0 0 calc(33.33% - 10px); /* Adjust the width percentage and margin as per your needs */
      margin: 5px; /* Margin to create gaps between pictures */
      padding: 0;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease;
      box-sizing: border-box; /* Include margin and padding in element's total width and height */
    }
    
    /* Picture image */
    .picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* Remove default list styles */
    .picture-container,
    .picture {
      list-style: none;
    }
    
    @media (max-width: 600px) {
      /* For small screens, adjust the number of columns */
      .picture {
        flex: 0 0 calc(50% - 10px); /* Adjust the width percentage and margin as per your needs */
      }
    }
  </style>
</head>
<body>
    <%- include('header') %>
  <ul class="picture-container">
    <li class="picture">
      <img src="images/five.jpg" alt="Image 1">
    </li>
    <li class="picture">
      <img src="images/five.jpg" alt="Image 2">
    </li>
    <li class="picture">
      <img src="images/five.jpg" alt="Image 3">
    </li>
    <li class="picture">
        <img src="images/five.jpg" alt="Image 1">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 2">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 3">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 1">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 2">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 3">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 1">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 2">
      </li>
      <li class="picture">
        <img src="images/five.jpg" alt="Image 3">
      </li>
    <!-- Add more pictures here -->
  </ul>
  <%- include('footer') %>
</body>
</html>
